<div class="description">
  <h1>¿Qué es el Análisis de Sentimiento?</h1>
  <div class="text1">
      <p>
          El análisis de sentimiento, también conocido como minería de opinión (opinion mining), es un término muy discutido pero a menudo incomprendido.
          Cuando se habla del análisis de sentimiento, se refiere a diferentes métodos que ayudan a poder identificar y extraer información del mundo digital, el cual, esto permitirá determinar si un texto posee connotaciones positivas, negativas o neutral. Asimismo, el análisis de sentimientos es de gran ayuda para las empresas, ya que permiten controlar la reputación de sus marcas en las redes sociales, obteniendo información de los comentarios realizados por los clientes.
      </p>
  </div>
  <div class="image">
    <img src="/assets/imagen2.jpg"/>
  </div>
  <br>
  <h1>¿Por qué usar el Análisis de Sentimiento?</h1>
  <div class="text2">
    <p>
      El análisis de sentimiento es extremadamente útil en la monitorización de las redes sociales ya que permite hacernos una idea de la opinión pública general sobre ciertos temas. Herramientas de monitorización de las redes sociales como Brandwatch Analytics hacen que este proceso sea mucho más rápido y fácil que nunca gracias a la capacidad de monitorizar en tiempo real.
      Los beneficios del análisis de sentimiento son numerosos e importantes. La habilidad de extraer información de datos de las redes sociales es una práctica que ya están adoptando organizaciones a nivel mundial.
    </p>
  </div>
</div>



