<footer>
  <div class="info">
    <div class="container">
      <div class="row">
        <div class="logo col-md-3 col-sm-6">
          <h2>TodoViajes</h2>
          <img src="/assets/logo.png" alt="logo" height="100" length="100">
        </div>
        <div class="col-md-3 col-sm-6">
          <h2>Repositorios</h2>
          <p><a class="foot-link" href="https://github.com/AlvaroMartinezSilva/Proyectocomputacion2y3" target="_blank">Front-end</a></p>
          <p><a class="foot-link" href="https://github.com/AlvaroMartinezSilva/Flaskcheckpoint-PC2" target="_blank">Repositorio API</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h2>Contacto</h2>
          <p><a class="foot-link" href="#">merle6665@gmail.com</a></p>
          <p><a class="foot-link" href="#">alvaro.martinezsilva@gmail.com</a></p>
          <p><a class="foot-link" href="#">jorge.dmm1@gmail.com</a></p>
          <p><a class="foot-link" href="#">aitorperez.v@icloud.com</a></p>
          <p><a class="foot-link" href="#">nicolejk24@hotmail.com</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h2>Linkedin</h2>
          <p><a class="foot-link" href="#" target="_blank">David Merle</a></p>
          <p><a class="foot-link" href="#" target="_blank">Alvaro Martinez</a></p>
          <p><a class="foot-link" href="#" target="_blank">Jorge Díaz-Maroto</a></p>
          <p><a class="foot-link" href="#" target="_blank">Aitor Perez Vela</a></p>
          <p><a class="foot-link" href="#" target="_blank">Nicole Kuylen</a></p>
        </div>
      </div>
      <div class="row">
        <p>© 2022 TodoViajes. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
