$principal: #ffffff;
$secundario: #161616;
$terciario: #d9dd01;
$acento: #b8bb15; //Destacar cosas importantes
$emisivo: #ffffff; //Links
$fugaz: #babd00; //Animaciones boton
$titulo: #161616;
$texto: #ffffff;
