
<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid">
    <img src="/assets/logo.png" alt="logo" height="45" length="45">
    <h1 class="navbar-brand">Flaskcheckpoint-PC2</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- router link-->
          <a class="nav-link" aria-current="page" [routerLink]="['']">Página de inicio</a>
        </li>
        <li class="nav-item">
          <!-- router link-->
          <a class="nav-link" [routerLink]="['analisis-sentimientos']">Análisis de Sentimiento</a>
        </li>
      </ul>
    </div>
  </div>
</nav>